[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MLeval"]
	path = MLeval
	url = https://github.com/crj32/mleval
[submodule "Spectrum"]
	path = Spectrum
	url = https://github.com/crj32/spectrum
